/* @media only screen and (max-width: 800px) { */
body {
  width: 100%!important;
  max-width: 100%!important;
  margin: 0!important;
}
.grid {
  /* display: grid; */
  /* grid-template-columns: 50px auto 50px;
  grid-template-rows: repeat(3, 100px); */
  /* grid-template-columns: 30px auto 30px;
  grid-template-rows: 30px auto 30px; */
  grid-template-columns: 0 auto 0;
  grid-template-rows: 45px auto 45px;
  grid-gap: 1em;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.cont-l {
  justify-content: flex-start;  
}

.cont-c {
  padding-top: 200px;
  justify-content: center;  
}

.grid-fcl {
   grid-column: 1 / 4;
}

.left-components {
  display: flex;
}

.middle-components {
  display: flex;
  padding-top: 20px;
}

.right-components {
  display: flex;
}

.disp-bl  {
  display: block;
}

header,
aside,
article,
footer {
  background: #fff;
  padding: 1em;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  /* padding: 1em 0; */
  /* font-family: lora,serif; */
  font-family: lora,oswald,Helvetica,Roboto,sans-serif;
}

.grid > * {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

a {
  color: #000;
  text-decoration: none;
}

/* ============= 
Header 
============= */
header {
  height: 150px;
  background-color: white;
  padding: 7px 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.13);
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  vertical-align: middle;
}

.header-image {
  height: 100px;
}

.icon {
  height: 75px;
  padding-top: 20px;
}

.hamburger {

}

.magnifying-glass {

}

.person {

}

.canada {

}

/* =============
 breadcrumb 
 ============= */
.breadcrumb {
  grid-gap: 0;
  height: 20px;
  justify-content: left;
  background-color: #fff;
  padding: 15px 10px 20px 10px;
}

.breadcrumb > * {
   font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.breadcrumb .red-underline {
  color: #ff2436;
  border-bottom: 2px solid #ff2436;
}

.breadcrumb-icon {
  width: 100px;
}

/* =============
article title
============= */
.article-title {
  background-color: #ffffff;
  padding: 10px;
  font-size: 20px;
  /* justify-content: flex-start;   */
}

h1 {
  margin: 20px 0 20px 20px;
  line-height: 80px;
  letter-spacing: -1px;
  font-size: 70px;
  font-weight: 700;
}

/* =============
article info
============= */
.author-info {
  padding: 5px 10px 13px 10px;
  margin: 0 10px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

.author-info > * {
  margin-right: 10px;
}

.author-info .bolded {
  font-size: 14px;
  font-weight: bold;
}

.author-info p {
  font-size: 25px;
  color: #aaa;
  width: 200px;
}
.author-link {
  color: #aaa;
  font-size: 25px!important;
  width: 150px;
}

/* =============
article image
============= */
.article-image {
  padding: 0
}

.article-image-img {
  width: 100%;
  /* max-height: 200px; */
}

/* =============
article 
============= */

.main-article p {
  font-size: 50px;
  line-height: 85px;
  font-family: lora,serif;
  padding: 0 50px;
}

.image-ad {
  width: 100%;
}

.image-ad-div {
  padding: 0;
}

.ad-images {
  display: block;
  padding: 0;
  margin-top: 50px;
}

.ad-images  img  {
  display: block;
    width: 100%;
    margin: 10px 0;
}

.final-bit {
  font-size: 30px;
  font-weight: 100;
  margin: 50px auto;
}

/* =============
footer 
============= */
footer {
  display: block!important;
  align-items: center!important;
  background: #fafafa;
}

footer img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

footer a {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #bbb;
  font-size: 25px;
}

footer .footer-bottom {
  border-top: #eee 2px solid;
  margin-top: 50px;
  padding-top: 20px;
}
footer .footer-bottom .copyright {
  border: #000;
  font-size: 20px;
  text-align: center;
  color: #aaa;
}
footer .footer-bottom img{
  padding-top: 20px;
  height: 50px;
}
/* } */